name: "17"

on: [ push, pull_request ]

jobs:
  testBuilds:
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        java-version: [17]
    name: "Compile jar against ${{ matrix.java-version }}"
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout Code"
      uses: actions/checkout@v2
    - name: "Prepare Java ${{ matrix.java-version }}"
      uses: actions/setup-java@v2
      with:
        distribution: "adopt"
        java-version: "${{ matrix.java-version }}"
    - name: "Make build.gradle executable"
      run: "chmod +x gradlew"
    - name: "Build jar with Java ${{ matrix.java-version }}"
      run: "./gradlew shadowJar"
    - name: papi
      uses: actions/upload-artifact@v3
      with:
        name: Papi
        path: ./*
